* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Karrik';
    src: url('../fonts/Karrik-Regular.woff2') format('woff2'),
         url('../fonts/Karrik-Regular.woff') format('woff'),
         url('../fonts/Karrik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'outward';
    src: url('../fonts/outward-block-webfont.woff2') format('woff2'),
         url('../fonts/outward-block-webfont.woff') format('woff'),
         url('../fonts/outward-block-webfont.ttf') format('truetype')
         url('../fonts/outward-block-webfont.svg') format('svg'),
         url('../fonts/outward-block-webfont.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: Karrik, sans-serif;
    background-color: #fff7f0;
    min-height: 100vh;
    display: flex;
}

.image-background {
    background-image: url('../images/about-bakgrund.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 30px 0 0;
    display: flex;
    justify-content: space-between;
    z-index: 110;
    background-color: #fff7f0;
    border-bottom: 1px solid #262523;
}

header .name{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: outward, sans-serif;
    position: relative;
    width: 120px;
    min-width: 120px;
    height: 100%;
    font-size: 4.1rem;
    color: #262523;
    border-right: 1px solid #262523;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
}

.nav a {
    text-decoration: none;
    padding: 6px 20px;
    color: #262523; 
    
}

.nav a:hover, .nav a.active {
    background: #BF4342;
    color: #fff7f0;
}

.wrapper {
    width: 100%;
    padding-top: 80px;
}

.content {
    height:82vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textArea {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 0 0 2%;
    color: #262523;
    width: 20vw;
}

.content .aboutmetitle {
    display: flex;
    justify-content: left;
    font-family: outward, sans-serif;
    font-size: calc(10vh + 20vw);
    color: #BF4342;
    margin: 0;
    padding: 0;
    line-height: 0.705;
    height: 100%
}

.aboutmeinfo {
    width: 40vw;
    font-size: 1.5vw;
    color: #fff7f0;
}

.aboutmeinfo p {
    margin-top: 2vh;
}

.profile-pic {
    width: 25vw;
    background-color: #BF4342;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
    }

    header .name {
        flex-direction: column;
        height: auto;
        border-right: none;
    }
    .nav {
        padding-left: 1vw;
        flex-direction: row;
        gap: 2vw;
        width: 100%;
        align-items: center;
    }

    .nav a {
        text-align: center;
        font-size: 3.3vw;
    }

    .wrapper {
        padding-top: 20vh;
        justify-content: left;
    }

    .content {
        flex-direction: column;
        height: 80vh;
        justify-content: left;
        width: 100vw;
    }

    .content .textArea {
        justify-content: left;
        width: 100vw;
    }

    .content .aboutmetitle {
        font-size: calc(15vh + 30vw);
        line-height: 0.71;
        align-items: left;
    }

    .aboutmeinfo{
        font-size: calc(1vw + 1vh);
        width: 80vw;
    }
    
    .profile-pic {
        width: 40vw;
        background-color: #BF4342;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 3vh;
    }
}
