/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors: #262523
#fff7f0
#E7D7C1
#BF4342
*/

@font-face {
    font-family: 'Karrik';
    src: url('fonts/Karrik-Regular.woff2') format('woff2'),
         url('fonts/Karrik-Regular.woff') format('woff'),
         url('fonts/Karrik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'murmure';
    src: url('fonts/LeMurmure-Regular.woff2') format('woff2'),
         url('fonts/LeMurmure-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mess';
    src: url('fonts/Mess-Light_web.woff2') format('woff2'),
         url('fonts/Mess-Light_web.woff') format('woff'),
         url('fonts/Mess-Light_web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'outward';
    src: url('fonts/outward-block-webfont.woff2') format('woff2'),
         url('fonts/outward-block-webfont.woff') format('woff'),
         url('fonts/outward-block-webfont.ttf') format('truetype')
         url('fonts/outward-block-webfont.svg') format('svg'),
         url('fonts/outward-block-webfont.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: Karrik, sans-serif;
    background-color: #fff7f0;
    min-height: 100vh;
    display: flex;
}

/* Style the header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 30px 0 0;
    display: flex;
    justify-content: space-between;
    z-index: 110;
    background-color: #fff7f0;
    border-bottom: 1px solid #262523;
}

header .name{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: outward, sans-serif;
    position: relative;
    width: 120px;
    min-width: 120px;
    height: 100%;
    font-size: 4.1rem;
    color: #262523;
    border-right: 1px solid #262523;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
}

.nav a {
    text-decoration: none;
    padding: 6px 20px;
    color: #262523; 
    
}

.nav a:hover, .nav a.active {
    background: #BF4342;
    color: #fff7f0;
}

.wrapper {
    width: 100%;
    padding-top: 80px;
    background-color: #fff7f0;

}

/* Container for flexboxes */
.content {
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: left;
    padding-top: 80px;
    background-color: #fff7f0;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 0px;
}

.content .textArea {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 0 0 2%;
    color: #262523;
    width: 100%;
}

.content .titel {
    display: flex;
    justify-content: left;
    font-family: outward, sans-serif;
    font-size: calc(10vh + 20vw);
    color: #262523;
    margin: 0;
    padding: 0;
    line-height: 0.705; /* Adjust as needed */
    height: 100%
}
.content h2 {
    padding-top: 20px;
    font-size: 2em;
    color: #262523;
    max-width: 25vw;
    min-width: 25vw;
    max-height: 25vh;
    min-height: 25vh;
    align-content: start;
}

.undercontent {
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: left;
    background-color: #fff7f0;
}

.undercontent.intro {
    max-width: 25vw;
    min-width: 25vw;
    max-height: 25vh;
    min-height: 25vh;
    padding: 0 0 0 2%;
    align-content: start;
}

.undercontent.intro.h2 {
    font-size: 2em;
    color: #262523;
    max-width: 25vw;
    min-width: 25vw;
    max-height: 25vh;
    min-height: 25vh;
    align-content: start;
}

.buttonscontainer {
    width: 100%;
    height: auto;
    max-width: 77.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    position: relative;
}

.buttons {
    flex-direction: column;
    width: 100%;
    display: flex;
    position: relative;
}

.buttons.code {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    width: 42rem;
    margin-left: 15rem;
    border: solid 1px;
    border-color: #262523;
    border-radius: 3rem;
}
.buttons.design {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    width: 40.875rem;
    margin-left: 20rem;
    margin-top: 0.8rem;
    border: solid 1px;
    border-color: #262523;
    border-radius: 3rem;
}
.buttons.photo  {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1rem;
    flex-direction: row;
    justify-content: flex-start;
    width: 50rem;
    margin-left: 10rem;
    margin-top: 0.8rem;
    border: solid 1px;
    border-color: #262523;
    border-radius: 3rem;
}

.buttons.code.text {
    margin-left: 4rem;
    font-size: 800%;
    border:none;
}

.buttons.design.text {
    margin-left: 4rem;
    font-size: 800%;
    border:none;
}

.buttons.photo.text {
    margin-left: 4rem;
    font-size: 800%;
    border:none;
}

img {
    width: 25%;
    padding:10px;
    background-color: #BF4342;
    object-fit: cover;
}

img .bgd {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

#home {
    width: 25%;
    padding:10px;
    background-color: #BF4342;
    object-fit: cover;
}

.image-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.image-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
